.nav-content {
  background-color: #2196f3;
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: center;
  height: auto;
  color: white;
  margin-bottom: 5vw;
}

.content-body {
  width: 80vw;
  margin-top: 5vw;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5vw;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  justify-content: center;
  text-align: center;
}

.user-message{
  background-color: #f5f5f5;
  height: 100px;
  width: 90%;
  padding: 8px;
  justify-content: center;
}

.submit-button {
  margin-top: 18px;
  margin-bottom: 18px;
  border: 2px solid #2196f3;
  padding: 10px;
  border-radius: 30px;
  width: 150px;
  font-weight: 700;
  background-color: white;
  cursor: pointer;
  color: #2196f3; 
  outline: none;
}
img{
  width: 16px;
  height: 16px;
  padding-left: 6px;
  cursor: pointer;
}
.what-is-this{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal Content */
.modal-content {
  background-color: #2196f3;
  color: white;
  margin: auto;
  padding: 6px;
  padding-bottom: 10px;
  width: 50vw;
  border-radius: 6px;
  display: none;
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #e60000;
  cursor: pointer;
}

.success-message{
  color: white;
  background-color: #2196f3;
  padding: 12px;
  border-radius: 6px; 
  width: 90%;
  margin: auto;
  margin-top: 18px;
  display: none;
}